* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Vazirmatn", sans-serif;
  min-width: 390px;
  margin: 0 auto;
}

#root {
  height: 5284px;
}

::-webkit-scrollbar {
  width: 5px;
  background: #ebebeb;
}

.active1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100%;
  height: 100vh;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s linear 0s;
}

.topSec {
  background-color: #132d20;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(54, 63, 73);
}
.topSec .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  padding: 0px 1.5rem;
}
.topSec .navbar li {
  list-style: none;
}
.topSec .navbar .main_list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
  gap: 24px;
  cursor: pointer;
}
.topSec .navbar .main_list .main_logo {
  width: 130px;
}
.topSec .navbar .right_list {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.topSec .navbar .hamburgerMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mainHeader {
  background: radial-gradient(51.38% 53.18% at 50% 50.12%, rgb(32, 77, 53) 0%, rgb(19, 45, 32) 100%);
  position: relative;
  top: -17px;
}
.mainHeader img {
  max-width: 100%;
  z-index: 0;
}
.mainHeader h1 {
  color: white;
  font-size: 1.25rem;
  font-weight: 700;
  position: relative;
  width: 60%;
  padding-top: 40px;
}
.mainHeader h1 .header_hat {
  position: absolute;
  height: 28px;
  top: 35px;
  left: -9px;
}
.mainHeader h2 {
  font-size: 1rem;
  color: rgb(204, 204, 204);
  margin: 16px auto 24px 40px;
  line-height: 19px;
  width: 60%;
  font-weight: 300;
}
.mainHeader h1,
.mainHeader h2,
.mainHeader section {
  position: relative;
  z-index: 1;
  width: 60%;
  margin: 0px 0px 16px 40px;
}
.mainHeader .container_bg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.mainHeader .bnbHanger {
  position: absolute;
  height: 91px;
  width: 55px;
  right: 30px;
  top: 17px;
}
.mainHeader .topRightHangerMini {
  position: absolute;
  right: 0;
  width: 34px;
  top: 15px;
  height: 150px;
}
.mainHeader .bottomRightSvg {
  height: 110px;
  width: auto;
  position: absolute;
  right: 0;
  bottom: 0px;
  height: auto;
  width: 50%;
}
.mainHeader .bottomLeftSvg {
  height: 180px;
  position: absolute;
  bottom: 0px;
}
.mainHeader .action {
  padding-bottom: 88px;
}
.mainHeader .action input {
  height: 48px;
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 255, 255, 0.12);
  border-radius: 8px;
  width: 298px;
  padding: 16px 24px 14px;
  color: white;
  font-weight: 300;
  font-size: 1rem;
}
.mainHeader .main_background_image {
  width: 100%;
  opacity: rgba(0, 0, 0, 0.53);
  background-color: #132d20;
}

.button {
  background-color: #fcd535;
  border: none;
  padding: 10px 24px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 40px;
  min-width: 90px;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.registerBtn {
  background-color: #fcd535;
  border: none;
  padding: 10px 24px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 40px;
  min-width: 100%;
  color: black;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.loginBtn {
  background-color: transparent;
  border: 1.5px solid #fcd535;
  padding: 10px 24px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 40px;
  min-width: 100%;
  color: #fbbb20;
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.downloads {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downloads .downloadIcons {
  width: 48px;
  background-color: #297F58;
  border-radius: 8px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.downloads .downloadIcons .downloadSvg {
  width: 24px;
  height: 24px;
}

.mobileNavbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  width: 320px;
  background-color: white;
  height: 100vh;
  padding: 30px 20px;
  z-index: 7;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) 0s;
  overflow: auto;
}
.mobileNavbar .back_arrow {
  font-weight: 300;
  color: rgb(0, 0, 0);
  font-size: 1.4rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
  cursor: pointer;
}
.mobileNavbar ul {
  padding: 30px 0px 30px 0px;
}
.mobileNavbar ul li {
  list-style: none;
  padding: 15px;
  border-radius: 8px;
}
.mobileNavbar ul p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 13px 15px;
  border-radius: 8px;
  transition: all 0.1s linear 0s;
  cursor: pointer;
}
.mobileNavbar ul li,
.mobileNavbar p {
  font-size: 1rem;
  font-weight: 400;
}
.mobileNavbar ul li:hover,
.mobileNavbar p:hover {
  background-color: rgb(255, 249, 235);
}
.mobileNavbar a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}
.mobileNavbar .theme_mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 15px 32px;
}
.mobileNavbar .theme_mode div {
  background-color: rgb(233, 233, 237);
  width: 56px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.mobileNavbar .theme_mode span {
  background-color: rgb(56, 58, 72);
  position: absolute;
  left: 5px;
  width: 24px;
  height: 24px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) 0s;
}
.mobileNavbar .theme_mode img {
  width: 16px;
}
.mobileNavbar .app_field a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  background-color: rgb(233, 233, 237);
  border-radius: 8px;
  padding: 10px;
  width: 100%;
  text-decoration: none;
}
.mobileNavbar .app_field a span {
  min-width: 42px;
  min-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-right: 10px;
  border-radius: 5px;
}
.mobileNavbar .app_field a div {
  width: 100%;
  color: #000;
}
.mobileNavbar .app_field a b {
  font-size: 0.9rem;
}
.mobileNavbar .app_field a p {
  font-size: 0.8rem;
  font-weight: 200;
}

.hamburgerStatus {
  display: inline;
  color: rgb(251, 187, 32);
  background-color: rgb(254, 245, 205);
  padding: 5px 10px 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  position: relative;
  top: -1px;
  font-weight: 700;
  margin-left: 8px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(221, 221, 221), rgba(255, 255, 255, 0));
  display: block;
}

.submenu {
  display: none;
}

.open {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  font-size: 0.9rem;
}
.open a {
  width: 100%;
  padding: 10px 40px;
  font-weight: 200;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) 0s;
}
.open a:hover {
  background-color: rgb(255, 249, 235);
  color: rgb(251, 187, 32);
}
.open #soon {
  color: rgb(165, 167, 169);
  background-color: rgb(241, 241, 241);
  padding: 5px 10px 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  position: relative;
  top: -1px;
  font-weight: 700;
  margin-left: 8px;
}

@media (max-width: 700px) {
  .centerHanger,
.bitcoinHangerSvg,
.topRightHanger,
.topLeftHangerSvg,
.downloads {
    display: none;
  }
  .actions input {
    display: none;
  }
}
@media (min-width: 700px) {
  .topRightHangerMini {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */