$buttonColor:#fcd535;
$white:#fff;
$loginButtonFontColor:#fbbb20;
$loginButtonBorderColor:#fcd535;
$apple_googlePlay_androidBackgroundColorButton:#297f58;
$scrollbarBackgroundColor:#ebebeb;
$navbarFontColor:#333333;
$newButtonBackgroundColor:#3c3c24;
$more_trade_color1:#f7931a;
$navbarHoverBackgroundColor:#fff9eb;
$downlaodBtnBackgroundColor:#297F58;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Vazirmatn', sans-serif;
    min-width: 390px;
    margin: 0 auto;
}
#root{
    height: 5284px;
}
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@mixin button($width,$backgroundColor,$fontColor,$border){
    background-color: $backgroundColor;
    border: $border;
    padding: 10px 24px 8px;
    border-radius: 8px;
    margin-bottom: 10px;
    height: 40px;
    min-width: $width;
    color: $fontColor;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
   
    cursor: pointer;
}
