$buttonColor:#fcd535;
$loginButtonFontColor:#fbbb20;
$loginButtonBorderColor:#fcd535;
$apple_googlePlay_androidBackgroundColorButton:#297f58;
$scrollbarBackgroundColor:#ebebeb;
$navbarFontColor:#333333;
$newButtonBackgroundColor:#3c3c24;
$more_trade_color1:#f7931a;
$navbarHoverBackgroundColor:#fff9eb;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Vazirmatn', sans-serif;
    max-width: 550px;
    margin: 0 auto;
}
@mixin flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
