::-webkit-scrollbar {
  width: 5px;
  background: #ebebeb;
}

.active1 {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.53);
  width: 100%;
  height: 100vh;
  cursor: pointer;
  z-index: 2;
  transition: all 0.2s linear 0s;
}

.topSec {
  background-color: #132d20;
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid rgb(54, 63, 73);
  .navbar {
    @include flex;
    width: 100%;
    height: 64px;
    padding: 0px 1.5rem;
    li {
      list-style: none;
    }
    .main_list {
      @include flex;
      padding-left: 1rem;
      gap: 24px;
      cursor: pointer;
      .main_logo {
        width: 130px;
      }
    }
    .right_list {
      display: flex;
      justify-content: center;
      align-items: center;
      // padding-right: 1.5rem;
      cursor: pointer;
    }
    .hamburgerMenu {
      @include flex;
    }
  }
}
.mainHeader {
  background: radial-gradient(
    51.38% 53.18% at 50% 50.12%,
    rgb(32, 77, 53) 0%,
    rgb(19, 45, 32) 100%
  );
  position: relative;
  top: -17px;
  img {
    max-width: 100%;
    z-index: 0;
  }
  h1 {
    color: white;
    font-size: 1.25rem;
    font-weight: 700;
    position: relative;
    width: 60%;
    padding-top: 40px;
    .header_hat {
      position: absolute;
      height: 28px;
      top: 35px;
      left: -9px;
    }
  }
  h2 {
    font-size: 1rem;
    color: rgb(204, 204, 204);
    margin: 16px auto 24px 40px;
    line-height: 19px;
    width: 60%;
    font-weight: 300;
  }
  h1,
  h2,
  section {
    position: relative;
    z-index: 1;
    width: 60%;
    margin: 0px 0px 16px 40px;
  }
  .container_bg {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .bnbHanger {
    position: absolute;
    height: 91px;
    width: 55px;
    right: 30px;
    top: 17px;
  }
  .topRightHangerMini {
    position: absolute;
    right: 0;
    width: 34px;
    top: 15px;
    height: 150px;
  }
  .bottomRightSvg {
    height: 110px;
    width: auto;
    position: absolute;
    right: 0;
    bottom: 0px;
    height: auto;
    width: 50%;
  }
  .bottomLeftSvg {
    height: 180px;
    position: absolute;
    bottom: 0px;
  }

  .action {
    padding-bottom: 88px;

    input {
      height: 48px;
      background: rgba(255, 255, 255, 0.04);
      border: 1px solid rgba(255, 255, 255, 0.12);
      border-radius: 8px;
      width: 298px;
      padding: 16px 24px 14px;
      color: white;
      font-weight: 300;
      font-size: 1rem;
    }
  }
  .main_background_image {
    width: 100%;
    opacity: rgba(0, 0, 0, 0.53);
    background-color: #132d20;
  }
}
.button {
  @include button(90px, $buttonColor, black, none);
}
.registerBtn {
  @include button(100%, $buttonColor, black, none);
}
.loginBtn {
  @include button(
    100%,
    transparent,
    $loginButtonFontColor,
    1.5px solid $loginButtonBorderColor
  );
}
.downloads {
  @include flex;
  .downloadIcons {
    width: 48px;
    background-color: $downlaodBtnBackgroundColor;
    border-radius: 8px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    .downloadSvg {
      width: 24px;
      height: 24px;
    }
  }
}
.mobileNavbar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 1;
  width: 320px;
  background-color: white;
  height: 100vh;
  padding: 30px 20px;
  z-index: 7;
  transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) 0s;
  overflow: auto;
  .back_arrow {
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-size: 1.4rem;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
    cursor: pointer;
  }
  ul {
    padding: 30px 0px 30px 0px;
  }
  ul li {
    list-style: none;
    padding: 15px;
    border-radius: 8px;
  }
  ul p {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px 13px 15px;
    border-radius: 8px;
    transition: all 0.1s linear 0s;
    cursor: pointer;
  }
  ul li,
  p {
    font-size: 1rem;
    font-weight: 400;
    &:hover {
      background-color: rgb(255, 249, 235);
    }
  }
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: flex-start;
    border-radius: 8px;
  }
  
  
}
.hamburgerStatus {
  display: inline;
  color: rgb(251, 187, 32);
  background-color: rgb(254, 245, 205);
  padding: 5px 10px 2px;
  border-radius: 5px;
  font-size: 0.7rem;
  position: relative;
  top: -1px;
  font-weight: 700;
  margin-left: 8px;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgb(221, 221, 221),
    rgba(255, 255, 255, 0)
  );
  display: block;
}
.submenu{
  display: none;
}
.open{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  border-radius: 8px;
  font-size: 0.9rem;

  a{
    width: 100%;
    padding: 10px 40px;
    font-weight: 200;
    transition: all 0.5s cubic-bezier(0, 0, 0.2, 1) 0s;
    &:hover {
      background-color: rgb(255, 249, 235);
      color: rgb(251, 187, 32);
    }
  }

  #soon {
    color: rgb(165, 167, 169);
    background-color: rgb(241, 241, 241);
    padding: 5px 10px 2px;
    border-radius: 5px;
    font-size: 0.7rem;
    position: relative;
    top: -1px;
    font-weight: 700;
    margin-left: 8px;
  }
}
@media (max-width: 700px) {
  .centerHanger,
  .bitcoinHangerSvg,
  .topRightHanger,
  .topLeftHangerSvg,
  .downloads {
    display: none;
  }

  .actions {
    input {
      display: none;
    }
  }
}
@media (min-width: 700px) {
  .topRightHangerMini {
    display: none;
  }
}
